/* color palette */
.primary-color{
    color: #2E4374;
}

.primary-bg{
    background-color: #27374D;
    color: #ffffff;
}

.complement-color{
    color: #526D82;
}

.complement-bg{
    background-color: #526D82;
}

.background-bg{
    background-color: #DDE6ED;
}

.offwhite-bg{
    background-color: #F1FAFF;
}

.horizon-shadow{
    box-shadow: .125rem 0 .25rem rgba(0, 0, 0, .075);
}

#menu .active{
    font-weight: bold;
}

/* button */
.unstyled-button{
    border: none;
    background-color: transparent;
    padding: 0;
}

.update-button{
    margin-right: 25px;
}

.delete-button{
    color: red;
}

.hover-nav{
    color: white;
}

.hover-nav:hover{
    color: #526D82;
}

.heading{
    color: black;
}

.heading:hover{
    color: lightslategray;
    text-decoration: underline;
}

.no-style{
    color:inherit;
    text-decoration: none;
}

.content-container{
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
}

.form-container{
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
}

.form-group{
    color: #333;
    width: 50%;
    padding: 0 8px;
    margin: 0 0 15px;
}

.form-container label{
    font-size: 17px;
    font-weight: 600;
}

.form-control{
    background: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    height: 40px;
    padding: 6px 12px;
    border-radius: 10px;
    border: 2px solid #e7e7e7;
    box-shadow: none;
}

.indicator-table{
    width: 100%;
}

.indicator-table .form-control{
    border: none;
}

/* profile tab */
#tab-nav{
    margin-bottom: 0px;
    border-bottom: 1px solid #526D82
}

#tab-nav .nav-item{
    border-bottom: 0px;
}

#tab-nav .nav-link{
    color: #526D82;
}

#tab-nav .nav-link:hover{
    color: #FFFFFF;
    background-color: #526D82;
}

#tab-nav .active{
    color: black;
    background-color: #F1FAFF;
    border: 1px solid #526D82;
    border-bottom: 1px solid #F1FAFF;
}

#tab-content{
    margin-top: 0px;
    padding-top: 20px;
}

#tab-content .active{
    background-color: #F1FAFF;
}
